.filter-cont{
      display: flex;
      justify-content: space-between;
      width: 100%;
}

.pp-title{
      margin: 16px;
}

.filter{
      margin: 16px;
}

.filter-text{
      font-size:20px;
      font-weight: 600;
      margin-right: 15px;
}

.filter select{
      padding:10px;
      margin-right: 20px;
}


@media only screen and (max-width:380px){
  .filter-cont{
      /* border: 3px solid black!important; */
      width: 99.3%;
      display: flex;
      flex-direction: column;
      padding-left: 40px;
  }

  .filter{
      /* border: 3px solid black!important; */
  } 
  .filter select{
      font-size:9px;
  }
}