.nav-container {
      /* background-image: linear-gradient(#7EE8FA, #EEC0C6); */
      background-color: rgba(183, 226, 226, 0.851);
      height: 65px;
      color: rgb(13, 48, 101);
}

.wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-left {
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.wrapper-center {
  flex: 1;
  /* font-family: 'Rubik Vinyl', cursive; */
  font-weight: bold;
  color: rgb(66, 16, 16);
  text-align: center;
}

.wrapper-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}

.wrapper-right p{
      margin-left: 25px;
      cursor: pointer;
}

.search{
      /* border: 0.5px solid lightgray; */
      display: flex;
      align-items: center;
      margin-left: 25px;
      padding: 5px;
}


@media only screen and (max-width:380px){
 .nav-container{
  height: 60px;

 }

 .wrapper{
  padding:10px 0px;
 }

 .l{
  display: none;
 }

 .search input{
  width: 50px;
  
 }

 .search{
  margin-left: 0px;
 }

 .wrapper-center h2{
  font-size:16px;
  font-weight: bold;
  border: 1px solid teal;
  background-color:teal;
  color: white;
  border-radius:30px;
 }

 .wrapper-right{
  justify-content: center;
  flex: 2.3;
 }

 .wrapper-right p{
  font-size:12px;
  margin-left: 16px;
 }

 .s-logo{
  font-size:25px!important;
  margin-left: 6px;
 }

 .nav-bag{
  padding-right:2px !important;
  border: 2px solid black!important;
 }

}

