.product-cont{
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      /* border: 2px solid black; */
}

.pt-head{
      /* border: 1px solid black; */
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

}

.pt-head h1{
      color: red;
      font-weight:bold;
      margin-top:10px;
}

@media only screen and (max-width:380px){
      .pt-head{
            width: 80%;
            /* border: 1px solid black; */
            /* display: flex;
            align-items: center;
            justify-content: center; */
            padding-left: 67px!important;
      
      }
}